# Virtual environment
env/
venv/

# Large data files
data/raw/
data/processed/
models/*.pkl

# Jupyter Notebook checkpoints
*/.ipynb_checkpoints/

# System / cache files
__pycache__/
.DS_Store
Thumbs.db
